<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="YouTubeAutomationSuite" parallel="tests" thread-count="2">

  <test name="YouTube Login Test">
    <classes>
      <class name="subMain.pages.YoutubeLoginTest"/>
    </classes>
  </test>

  <test name="YouTube Video Test">
    <classes>
      <class name="subMain.pages.YoutubeVideoTest"/>
    </classes>
  </test>

</suite>

