<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="YouTubeAutomationSuite" parallel="classes" thread-count="2">
  <test name="YouTube Tests">
    <classes>
      <class name="subMain.pages.YoutubeLoginTest"/>
      <class name="subMain.pages.YoutubeVideoTest"/>
    </classes>
  </test>
</suite>

